<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Leave application!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
        <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
        Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>

    <div class="container text-center">
		<h3><a th:href="@{/hello}">Hello</a></h3>
        <div sec:authorize="hasRole('USER')"><h3><a th:href="@{/home}">Home</a></h3></div>
        <div sec:authorize="hasRole('ADMIN')"><h3><a th:href="@{/adminDashboard}">Admin</a></h3></div>
    </div>
        <h2>>You are in User Dashboard </h2>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>