<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head">

</head>
<body>
	<div th:replace="fragments/layout.html::menu"/>
	<div class="container">
	<h1>Leave Details</h1>
	<div action="#" th:action="@{/staff/history/details/}+${leave.leaveId}"
		th:object="${leave}" method="post">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th><span th:text="#{fieldLabel.leaveid}"></span></th>
					<td th:text="${leave.leaveId}">Id</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.leavetype}"></span></h>
					<td th:text="${leave.leaveType}">leaveType</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.startDate}"></span></th>
					<td th:text="${leave.startDate}">From</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.endDate}"></span></th>
					<td th:text="${leave.endDate}">To</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.addtnlReason}"></span></th>
					<td th:text="${leave.addtnlReason}">addtnlReason</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.contact}"></span></th>
					<td th:text="${leave.contact}">contact number</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.workDissemination}"></span></th>
					<td th:text="${leave.workDissemination}">workDissemination</td>
				</tr>
				
				<tr>
					<th><span th:text="#{fieldLabel.status}"></span></th>
					<td th:text="${leave.status}">status</td> 
				</tr>
				
			
				</tbody>
				</table >
				<table style = "border-collapse: separate; border-spacing: 20px 10px;" cellpadding="15" align="right">
				<a><input id = "return" name = "Submit" type="button" value="Return"  onclick="javascript:history.back(-1);" /></a>	
				<td style="border: solid; border-radius:25px;" align="right">
	    		<a style = " font-weight :bold" th:if = "${leave.status.name() == 'APPLIED' || leave.status.name() == 'UPDATED'  }"th:href = "@{'/leave/update/' + ${leave.leaveId}}">Update</a>
	    		<span style = " font-weight :bold" th:unless = "${leave.status.name() == 'APPLIED' || leave.status.name() == 'UPDATED'  }">Update</span >
	    	</td  >
	    	<td style="border: solid; border-radius:25px;" align="right">
	    		<a style = " font-weight :bold" th:if = "${leave.status.name() == 'APPROVED'}"th:href = "@{'/leave/cancel/' + ${leave.leaveId}}">Cancel</a >
	    		<span style = " font-weight :bold" th:unless = "${leave.status.name() == 'APPROVED'}">Cancel</span >
	    	</td  >
	    	<td style="border: solid; border-radius:25px;" align="right">
	    		<a style = " font-weight :bold" th:if = "${leave.status.name() == 'APPLIED' || leave.status.name() == 'UPDATED'  }" th:href = "@{'/leave/delete/' + ${leave.leaveId}}">Delete</a >
	    		<span style = " font-weight :bold" th:unless = "${leave.status.name() == 'APPLIED' || leave.status.name() == 'UPDATED'  }">Delete</span >
	    	</td  >
				</table  >
	</div >
		
</div >			
</div>
</body>
</html>