<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<head>
	<meta charset="UTF-8" />
	<title>Subordinate Leave History</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>-->
<head th:replace="fragments/layout.html :: html_head">
</head>
<body>
	<div th:replace="fragments/layout.html::menu"/>
	<h1>Subordinate Leave History</h1>
	<div th:if="${not #lists.isEmpty(leavehistory)}">
		<table class="table">
			<tr th:each="entry, stat : ${leavehistory}">
				<td>
					<div th:if="${not #lists.isEmpty(entry.value)}">
						<span><b>Employee Name: </b></span><span th:text="${entry.key.name}">Name</span><br />
						<table border="1 pt" class="table">
							<thead class="thead-dark">
								<tr>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Leave Type</th>
									<th>Status</th>
									<th>Leave Details</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="leave : ${entry.value}">
									<td th:text="${leave.startDate}">Start Date</td>
									<td th:text="${leave.endDate}">End Date</td>
									<td th:text="${leave.leaveType}">Leave Type</td>
									<td th:text="${leave.status}">Status</td>
									<td><a
											th:href="@{/manager/leave-history/display/} + ${entry.key.userId} + @{/} + ${leave.leaveId}">View
											Details</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>