<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<title>OT Hours Form</title>
	<head th:replace="fragments/layout.html :: html_head" />
</head>
<body>
	<div th:replace="fragments/layout.html::menu" />
	<h1>OT Hours Form</h1>
	<form action = "#" th:object = "${OTHours}" th:action = "@{/staff/saveot}" method = "post">
		<table>
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.OTDate}"></span></td>
					<!--<td><input type="text" th:field="*{date}" size="40" placeholder="dd/MM/yyyy"/></td>-->
					<td>
					<label for="OTDate">OT Date: </label>
                	<input type="date" name = "date" th:field = "*{date}">
					</td>
					<td th:if="${#fields.hasErrors('${OTHours.date}')}" th:errors="${OTHours.date}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.Hours}"></span></td>
					<td><input type="text" th:field="*{hours}" size="40"/></td>
					<td th:if="${#fields.hasErrors('${OTHours.hours}')}" th:errors="${OTHours.hours}"> </td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.Reason}"></span></td>
					<td><input type="text" th:field="*{reason}" size="40"/></td>
					<td th:if="${#fields.hasErrors('${OTHours.reason}')}" th:errors="${OTHours.reason}"></td >
				</tr>
				<tr>
					<td><input type="submit" value="Save"/></td>
					<td><input type="reset" value="Reset"/></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>