<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head">	
</head>
<body>
	<div th:replace="fragments/layout.html::menu"/>
	<h1>My leave balance</h1 >
	<div >
		<table class="table table-striped">
			<tr class="listHeading">
				<th><span>Annual Leave</span></th>
				<th><span>Medical Leave</span></th>
				<th><span>Compensation Leave</span></th>
				
				
				
			</tr>
			<tr class="listRecord">
				<td align="left" th:text="${employee.annualLeaveN}"></td>
				<td align="left" th:text="${employee.medicalLeaveN}"></td>
				<td align="left" th:text="${employee.compLeaveN}"></td>
				
				
			</tr  >
		</table>
	</div  >
</body>

</html>