<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head">	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/apply-leave.css">
    
</head>
<body>
    <div th:replace="fragments/layout.html::menu"/>
    <p>Leave is submitted</p>
   	<p>
    	<a th:href = "@{'/staff/history/'}">Leave History</a >
    </p>
    </div>
</body>
</html>