<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OT History</title>
</head>
<body>
	<h2>Subordinates OT Summary</h2>
<!--	<div th:if="${not #lists.isEmpty(OTHistory)}">-->
	<div th:object=${OTMonth}>
		<table style="border: 1;">
				<tr class="listHeading">
					<th><span th:text="#{fieldLabel.SubordinateName}"></span></th>
					<th><span th:text="#{fieldLabel.Hours}"></span></th>
					<th><span th:text="#{fieldLabel.Approve}"></span></th>
				</tr>
				<tr class="listRecord" th:each="subordinate : ${total}">
					<td align="left" th:text="${subordinate.key.name}"> EmpId</td>
					<td align="left" th:text="${subordinate.value}"> Hours</td>
					<td align="left"><a th:href = "@{/manager/approveot/}+${subordinate.key.userId}+'/'+${OTMonth.month}+'/'+${OTMonth.year}">Approve</a></td>
				</tr>
		</table>
	</div  >
</body>
</html >