<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>OT History</title>
</head>
<body>
	<h2>Subordinates OT History</h2>
<!--	<div th:if="${not #lists.isEmpty(OTHistory)}">-->
	<div th:object="${identity}"}>
		<table>
			<!--<tr class="listRecord" th:each="subordinate, stat : ${OTHistory}">-->
			<tr>
				<td>
					<!--<div th:if="${not #lists.isEmpty(subordinate.value)}">-->
					<div>
						<table style="border: 1;">
								<tr class="listHeading">
									<th><span th:text="#{fieldLabel.SubordinateName}"></span></th>
									<th><span th:text="#{fieldLabel.Reference}"></span></th>
									<th><span th:text="#{fieldLabel.OTDate}"></span></th>
									<th><span th:text="#{fieldLabel.Hours}"></span></th>
									<th><span th:text="#{fieldLabel.Reason}"></span></th>
									<th><span th:text="#{fieldLabel.Status}"></span></th>
								</tr>
								<tr th:each="OTDay : ${OTHistory}" class="listRecord">
									<td align="left" th:text="${OTDay.employee.name}">EmpId</td>
									<td align="left" th:text="${OTDay.overtimeId}">Id</td>
									<td align="left" th:text="${#temporals.format(OTDay.date, 'dd/MMM/yyyy')}">Date</td>
									<td align="left" th:text="${OTDay.hours}">Hours</td>
									<td align="left" th:text="${OTDay.reason}">Reason</td>
									<td align="left" th:text="${OTDay.status}">Status</td>
									<div th:if="${!#strings.equals(OTDay.status, 'LEAVEGIVEN')}">
										<td  align="left"><a th:href = "@{/manager/approveot1/}+${OTDay.employee.userId}+'/'+${#temporals.month(OTDay.date)}+'/'+${#temporals.year(OTDay.date)} + '/' + ${OTDay.overtimeId}">Approve</a></td>
										<td  align="left"><a th:href = "@{/manager/rejectot1/}+${OTDay.employee.userId}+'/'+${#temporals.month(OTDay.date)}+'/'+${#temporals.year(OTDay.date)} + '/' + ${OTDay.overtimeId}">Reject</a></td>
									</div>
								</tr>
						</table>
					</div >
				</td>
			</tr>
		</table>
	</div >
	<div>
		<h4> Total Applied OT Hours <span th:text=${total}></span> </h4>
		<h4> Total Approved OT Hours <span th:text=${totalapprove}></span></h4>
	</div>
	<div th:if="${totalapplied} == 0">
		<a th:href = "@{/manager/calc/}+${identity[0]}+'/'+${identity[1]}+'/'+${identity[2]}"> Grant leave for approved OT</a>
	</div >
</body>
</html >