<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head">
    <link rel="stylesheet" href="/apply-leave.css">
    
</head >
<body>
<div th:replace="fragments/layout.html::menu"/>
    <h1>Leave Application form</h1>
	
    <form th:action = "@{'/staff/update/' + ${leave.leaveId}}" th:object="${leave}" method = "POST"> 
       
        <div class = 'questions'>
        	 <p>Update Leave ID: <span th:text = "${leave.leaveId}"></span ></p> 
            <div>
                <label for="start-date">Start Date: </label>
                <input type="date" name = "start-date"  th:field = "*{startDate}">
            </div>
            
            <div>
                <label for="end-date">End Date: </label>
                <input type="date" name = "end-date"  th:field = "*{endDate}">
            </div>
          	
            <div>
                <label for="leave-type">Leave type: </label>
                <div><input type="radio" name="leave-type" value = "ANNUAL" th:field = "*{leaveType}" id="">Annual Leave</div>
                <div><input type="radio" name="leave-type" value = "MEDICAL" th:field = "*{leaveType}"  id="">Medical Leave</div>
                <div><input type="radio" name="leave-type" value = "COMPENSATION" th:field = "*{leaveType}"  id="">Compensation Leave</div>
            </div>
            <div>
                <label for="reason">Reason: </label>
                <div><textarea name="reason" id="" cols="30" rows="10"  th:field = "*{addtnlReason}" th:value = "*{addtnlReason}"></textarea></div>
            </div>
            <div>
                <label for='work-dissemination'>Work dissemination: </label>
                <div><input type="text" name = "work-dissemination"  th:field = "*{workDissemination}" th:value = "*{workDissemination}">></div>
            </div>
            <div>
                <label for="contact-details">Contact Details: </label>
                <div>
                    <label for="contact-details"></label>
                    <input name = "contact-details" type="text"  th:field = "*{contact}"  th:value = "*{contact}">
                </div>
            </div>
        </div>
        <input type = "submit">
        <input type = "reset">
        

    </form >
</body>
</html>