<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/apply-leave.css">
    
</head>
<body>
    <div  th:object="${leave}">
    <p>Leave ID: <span th:text = "${leave.leaveId}"></span > is updated.</p>
    <p>
    	<a th:href = "@{'/leave/select'}">Leave History</a >
    </p>
    </div >
</body>
</html>